$cyan: #17bcbf;
$green: #0a8a23;
$blue: #06127a;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin radius($border){
	border-radius: $border;
}

.jumbotron {
	background-color: $cyan;
	color: black;
	@include margenes(50px, 0px)
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $cyan;
	color: black;
	@include margenes(10px, 0px)
}

.card-hotel {
	flex: 1 180px;
	@include margenes(10px, 0px)
}

.btn-reserva {
	width:100%;
	@include radius(0px) 
}

.btn-outline-success {
	width:100%;
	@include radius(0px) 
}

.footer-address-icon {
	padding-right: 10px
}

.tab-content {
	padding-top: 10px;
}